# EditorConfig is awesome: https://editorconfig.org

root = true

[*]
charset = utf-8

[*]
indent_style = space
indent_size = 4
tab_width = 4

[*]
trim_trailing_whitespace = true

[*]
end_of_line = lf

[*.{cmd,bat}]
end_of_line = crlf

[*]
insert_final_newline = true

[*.{txt,txtar}]
indent_style = tab
indent_size = 4
tab_width = 4

# 避免影响 testscript 测试用例
trim_trailing_whitespace = false
