<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/dark.min.css" media="(prefers-color-scheme: dark)">

    <style>
        :root {
            color-scheme: light dark;
        }

        body {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        #title {
            padding: .5em 0 .5em 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        #title > *{
            margin: 0;
        }
    </style>
</head>

<body>
    <section id="title">
        <h1>{{ .Title }}</h1>
        <p>Posted {{ .Created }}</p>
    </section>

    {{ .Content }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>
